@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">สวัสดี .NET Core 6.0 for everyone</h1>
    <p>ทดสอบป้อนข้อความภาษาไทย</p>
    <p>lorem ipsome</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
